@import "../../../styles/functions.scss";

.book-preview {
  display: flex;

  &__aside {
    min-width: 160px;
    width: 160px;
    margin-right: 2%;
  }

  &__cover-img {
    cursor: pointer;
    display: block;
    width: 100%;
  }

  &__actions {
    margin: 15px 0 0;
  }

  &__main {
    flex: 1;
  }

  &__title-link {
    color: inherit;
  }

  &__tags {
    margin-top: step(3);
  }
}
