@import '../../../styles/config.scss';
@import '../../../styles/functions.scss';

.nav {
    padding: 0 0 0 step(4);

    line-height: $header-height;

    &__item {
        & + & {
            margin-left: 15px;
        }
    }

    // &__item {
    //     $hover-bg-color: rgba(0, 0, 0, 0.05);
    //     $active-bg-color: rgba(0, 0, 0, 0.1);

    //     display: inline-block;
    //     padding: 0 step(2);

    //     text-decoration: none;
    //     color: inherit;

    //     outline: none;

    //     border-left: 1px solid #ccc;
    //     border-right: 1px solid #ccc;

    //     & + & {
    //         border-left: none;
    //     }

    //     &:hover {
    //         background-color: $hover-bg-color;
    //     }

    //     &_state_active {
    //         background-color: $active-bg-color;
    //     }
    // }
}
