.app-logo {
    display: inline-block;
    width: 50px;
    height: 100%;
    margin-right: 15px;

    line-height: 0;
    text-decoration: none;
    outline: none;

    img {
        width: 100%;
        height: 100%;
    }
}