@import '../../../styles/config.scss';
@import '../../../styles/functions.scss';

.shell-layout {
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    &__body {
        flex: 1;
        padding-top: step(6);
        padding-bottom: step(6);
    }

    &__footer {
        padding: step(4) 0;

        border-top: 1px solid;
    }
}
