@import '../../../styles/functions.scss';

.rating {
    margin: step(2) 0;

    &_size {
        &_m {
            font-size: 14px;
        }

        &_l {
            font-size: 24px;
        }
    }
}
