@import './config.scss';

html {
    height: 100%;
}

#__next {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;

    font-size: $base-font-size;
    font-family: 'Open Sans', sans-serif;
    // line-height: 1.4;
    // color: $base-font-color;
}

// h1, h2, h3, h4, h5, h6 {
//     &:first-child {
//         margin-top: 0;
//     }
// }

#nprogress {
    .spinner {
        display: none;
    }

    .peg {
        box-shadow: none;
    }
}

.css_36rlri {
    width: 100%;
}
