@import '../../../styles/functions.scss';

.book-details {
    display: flex;

    &__cover {
        min-width: 200px;
        max-width: 400px;
        width: 20%;
        margin-right: 2%;

        cursor: pointer;

        img {
            display: block;
            width: 100%;
        }
    }

    &__main {
        flex: 1;
    }

    &__tags {
        margin-top: step(4);
    }
}
