@import '../../../styles/functions.scss';

.form {
    &__field {
        & + & {
            margin-top: step(4);
        }
    }

    &__label {
        display: block;
        margin-bottom: step(1);
    }
}
