@import '../../../styles/functions.scss';

.tags-list {
    // Gap between items
    $gap: step(1);

    display: inline-block;
    font-size: 12px;

    margin: 0 0 -1 * $gap;

    &__item {
        display: inline-block;
        margin: 0 $gap $gap 0;
        padding: 2px 6px;

        line-height: 16px;
        color: #fff;

        cursor: pointer;

        border-radius: 3px;
        border: none;
        background-color: #d0d7dc;

        &_selected {
            background-color: tomato;
        }
    }
}
